In [1]:
import pandas as pd

# Load the Excel file in the same folder
df = pd.read_excel('Car Inventory.xlsx', engine='openpyxl')

# Display the first 5 rows
df.head()

   Unnamed: 0    Make   Model   Color  Mileage  Price  Cost
0         NaN   Honda  Accord     Red    63512   4000  3000
1         NaN   Honda  Accord    Blue    95135   2500  2000
2         NaN   Honda  Accord  Silver   101354   2000  1500
3         NaN  Toyota   Camry   Black    75006   2198  1900
4         NaN  Nissan  Altima   Green    69847   3826  3000

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\adebi\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\adebi\anaconda3\lib\site-packages (from openpyxl) (1.1.0)